

.cards{

  margin-top: 65px;
 
}


Body h1 {
  text-align: center;
}

.card--name{
  text-align: center;
  padding: 10px;
  font-size:large;
}

.box--color-{
  border-color: brown;
  border: 10px solid red;
}

.subject--header{
  text-align: center;
}

.subject--name{
  margin:20px;
  text-align: left;
  margin-top: 50px;
  padding-top: 5px;
}